{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}
{% comment %} used this site to host images https://imgbb.com/ {% endcomment %}
{% block content %}
<div class='bg-gray-800 text-white p-5 md:py-8 md:px-20 lg:px-40 xl:px-60'>
  <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Projects Completed</p>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='400px' height='180px' src="https://i.ibb.co/tPwpY2VB/logo-textrade.png" alt="logo-textrade" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" color="#FFFFFF" ">TexTrade - Online Textile Platform on AWS</p>
            <p class='text-justify my-3'>a full-stack Online Textile Platform to help business (textile) owners manage their inventory and streamline customer orders.  Deployed the platform using AWS EC2 and integrated Razorpay for secure online payments..</p>
            <ul class='mb-3'>
              <li>&#9989; Built a dedicated platform for Solapur's thriving textile industry</li>
              <li>&#9989; Supports full CRUD operations for seamless management</li>
              <li>&#9989; Features a modern, user-friendly, and responsive UI</li>

            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
            <span class='text-xs bg-gradient-to-r from-yellow-400 to-orange-500 py-1 px-4 rounded-full shadow-lg border border-yellow-300'>
                <i class="fa-brands fa-aws"></i> Amazon EC2 (Deployment)
            </span>
            <span class='text-xs bg-gradient-to-r from-green-400 to-emerald-500 py-1 px-4 rounded-full'>
                <i class="fa-brands fa-python"></i> Python
            </span>
            <span class='text-xs bg-gradient-to-r from-green-400 to-emerald-500 py-1 px-4 rounded-full'>
                <i class="fa-brands fa-html5"></i> HTML5
            </span>
            <span class='text-xs bg-gradient-to-r from-green-400 to-emerald-500 py-1 px-4 rounded-full'>
                <i class="fa-brands fa-css3-alt"></i> CSS3
            </span>
            <span class='text-xs bg-gradient-to-r from-green-400 to-emerald-500 py-1 px-4 rounded-full'>
                <i class="fa-solid fa-server"></i> SQLite
            </span>

      
            </div>
              <a href='https://github.com/rushikesh6251/TexTrade_Solapur'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
              <a href='https://www.linkedin.com/in/rushikesh6251/' target='_blank' class=''>
                <button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>
                  <i class="bi bi-linkedin"></i> Check this project on my LinkedIN
                </button>
              </a>
          </div>
      </div>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='400px' height='180px' src="https://i.ibb.co/qY3FFQLz/logo-easydine.png" alt="logo-easydine" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">Web Blog UI - Blog UI Design</p>
            <p class='text-justify my-3'>Web Blog UI is a user interface design project that utilizes HTML, CSS and JavaScript to create a visually appealing and functional blog website. The project was created with an emphasis on user-centered design principles, ensuring easy navigation and visually pleasing design.</p>
            <ul class='mb-3'>
            <li>&#9989; Developed “EasyDine,” an online food ordering and restaurant management system</li>
            <li>&#9989; Built using HTML, CSS, JavaScript, PHP, and MySQL with XAMPP server setup</li>
            <li>&#9989; Features menu management, order processing, inventory, and staff management</li>
            <li>&#9989; Enables customers to seamlessly browse menu and place online orders</li>
            <li>&#9989; Delivered a scalable and efficient solution for single-restaurant operations</li>

            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
            <span class='text-xs bg-gradient-to-r from-green-400 to-emerald-500 py-1 px-4 rounded-full'>
                <i class="fa-brands fa-html5"></i> HTML5
            </span>
            <span class='text-xs bg-gradient-to-r from-green-400 to-emerald-500 py-1 px-4 rounded-full'>
                <i class="fa-brands fa-css3-alt"></i> CSS3
            </span>
            <span class='text-xs bg-gradient-to-r from-green-400 to-emerald-500 py-1 px-4 rounded-full'>
                <i class="fa-brands fa-js"></i> JavaScript
            </span>
            <span class='text-xs bg-gradient-to-r from-green-400 to-emerald-500 py-1 px-4 rounded-full'>
                <i class="fa-brands fa-php"></i> PHP
            </span>
            <span class='text-xs bg-gradient-to-r from-green-400 to-emerald-500 py-1 px-4 rounded-full'>
                <i class="fa-solid fa-database"></i> MySQL
            </span>
            <span class='text-xs bg-gradient-to-r from-green-400 to-emerald-500 py-1 px-4 rounded-full'>
                <i class="fa-solid fa-server"></i> XAMPP
            </span>
            </div>
            <div class='flex space-x-4 my-3'>
              <a href='https://github.com/rushikesh6251/EasyDine'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
              <a href='https://www.linkedin.com/in/rushikesh6251/' target='_blank' class=''>
                <button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>
                  <i class="bi bi-linkedin"></i> Check this project on my LinkedIN
                </button>
              </a>
            </div>
          </div>
      </div>
      
      <div class='flex justify-center'>
        <a href='https://github.com/rushikesh6251' target='_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-blue-600 transition delay-75 ease-in-out my-3'>Load more <i class="bi bi-arrow-clockwise font-extrabold"></i></button></a>
      </div>
</div>
      {% endblock %}